<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hamilton</title>
</head>
<body>
    <h1>Hamilton</h1>
    <img src="img/hamilton.jpg" alt="">
    <p> Político norteamericano. Era un joven abogado de Nueva York cuando estalló la Guerra de Independencia de las trece colonias británicas de Norteamérica (1775-83). En 1777 se convirtió en secretario de George Washington, comandante en jefe del ejército insurrecto. </p>
</body>
</html>